:root {
  --blue-primary: #0f58f2;
  --blue-hover: #0b47c9;
  --green-primary: #208136;
  --green-hover: #29a145;
  --text-secondary: #353535;
}
.btn-hover-blue {
  transition: 0.3s !important;
}

.btn-hover-blue:hover {
  background-color: var(--blue-hover) !important;
}

.btn-hover-green {
  transition: 0.3s !important;
}

.btn-hover-green:hover {
  background-color: var(--green-hover) !important;
}

.main-content {
  margin-top: 65px;
}

.card {
  border: none;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-1px);
}
